html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    height: 100%;
    font-family: 'Arial', sans-serif; 
}

body {
    background-color: #0c1e2c; /* Azul oscuro */
}

.bSuperiores {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150px;
    
    
    background: linear-gradient(90deg, #002850, #0056a6);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    
    position: relative;
    top: 0;
    left: 0;
    z-index: 100; 
}

.bSuperiorCartas, .bSuperiorCreadorMazo, .bSuperiorSesion { 
    width: 150px; 
    height: 45px;
    
    display: flex; 
    justify-content: center;
    align-items: center;
    
    background: rgba(255, 255, 255, 0.1); 
    color: #fff; 
    font-weight: 600;
    font-size: 16px;
    
    border-radius: 12px;
    transition: 0.3s;
    text-align: center; 
    cursor: pointer;
}

.bSuperiorCartas:hover, .bSuperiorCreadorMazo:hover, .bSuperiorSesion:hover{
    background: #ffd700; 
    color: #002850; 
    box-shadow: 0 0 10px #ffd700;
    transform: scale(1.05); 
}

.nav-logo {
    height: 140px; 
    width: auto;
    object-fit: contain;
    
    margin-right: auto; 
    margin-left: 20px; 
}

.bSuperiorCartas {
    margin-right: 20px; 
}

.bSuperiorCreadorMazo, .bSuperiorSesion {
    margin-right: 20px; 
}

.bSuperiorCrearBatalla{
    width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: -75px;
    top: 0%;
    cursor: pointer;
}

.imagen-boton-batalla {

    display: block; 
    width: 300px; 
    height: auto; 
}

.texto-superpuesto-batalla {
    position: absolute; 
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-weight: bold; 
    font-size: 2.5em; 
    pointer-events: none; 
    z-index: 2; 
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}