/* Estilo para el contenedor oculto de comentarios */
.contenedor_oculto {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    z-index: 1000;
}
.selector_comentarios {
    display: none;
}